Checks: -checks=*, readability-*, modernize-*, bugprone-*, performance-*, portability-*, clang-analyzer-*, cppcoreguidelines-*, google-*, -portability-avoid-pragma-once
HeaderFileExtensions:
  - hpp
ImplementationFileExtensions:
  - cpp
FormatStyle: none
